body{
    background-color: whitesmoke;
}

.inscriptionPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;

}

i{
    color: #f4bc24;
}

fieldset {
    margin: 10px 0;
    border: none;
}

fieldset:hover {
    border: 3px solid #f4bc24;
    animation: border-appear 0.5s ease-in-out;
}

@keyframes border-appear {
    0% {
        border-color: #e14d4b;
    }
    100% {
        border-color: #f4bc24;
    }
}



.login a {
    position: relative;
    color: #0087ca;
}


.inscriptioncontent  {
    background-color: #DDDDDD;
}
.login a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


fieldset{
    border-radius : 10px;
}

legend {
    font-weight:bold;
    font-size: large;
}
input[type=checkbox] {
    accent-color: #f4bc24;
;
}

input[type=radio] {
    accent-color: #f4bc24;
;
}
input {
    background-color: #fae6b5;
    padding:5px;
    margin-bottom: 8px;
    border-radius:10px;
    font-weight: bold;
    color:black;
}


input::placeholder {
    font-weight: bold;
    color:black;
}

.inscriptiontext p{
    font-style:italic;
    margin-top: -5px;
    color:darkgrey;
}

.login a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.submit{
    background-color: #e14d4b;


}

.submit:hover{
    background-color: #f4bc24;


}

form{
    background-color:grey;
}
.login {
    text-decoration: none;
    font-size: larger;
    margin-right: -570px;
    margin-top:-180px;
    position:absolute;
}

.login a{
    font-size: medium;

    color:#5565ff;
    text-decoration: none;
}